<% layout('layouts/boilerplate')%>

<style> 
    body {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://images.unsplash.com/photo-1470770903676-69b98201ea1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
        background-size: cover;
        background-position: center;
    }
</style>
<div class="container d-flex justify-content-center align-items-center mt-3 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card  shadow">
                <img src="https://images.unsplash.com/photo-1470770903676-69b98201ea1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="", class="card-img-top"/>
                    <div class="card-body">
                        <h2 class="card-title">Register</h2>
                        <form action="/register" method="POST" novalidate class="validation_form">
                            <div class="mb-3">
                                <label class="form-label" for="username">UserName</label>
                                <input class="form-control" type="text" id="username" name="username" required autofocus>
                                <div class="invalid-feedback">
                                    Give a username
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="text" id="email" name="email" required>
                                <div class="invalid-feedback">
                                    Please provide a email
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="invalid-feedback">
                                    Please provide a password
                                </div>
                            </div>
                            <button class="button btn-success mb-3 btn-block"> Register</button>
                            <p class= "inline"> Already have an account ? <a class="link" href="/login">Click here</a> </p>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    



